[submodule "Plugins/WebProt.WebHttp.Provider"]
	path = Plugins/WebProt.WebHttp.Provider
	url = https://github.com/fmwasekaga/WebProt.WebHttp.Provider.git
[submodule "Plugins/WebProt.Provider.Plugin.Console"]
	path = Plugins/WebProt.Provider.Plugin.Console
	url = https://github.com/fmwasekaga/WebProt.Provider.Plugin.Console.git
[submodule "Plugins/WebProt.Provider.Plugin.Ping"]
	path = Plugins/WebProt.Provider.Plugin.Ping
	url = https://github.com/fmwasekaga/WebProt.Provider.Plugin.Ping.git
[submodule "Plugins/WebProt.WebSocket.Provider"]
	path = Plugins/WebProt.WebSocket.Provider
	url = https://github.com/fmwasekaga/WebProt.WebSocket.Provider.git
